.fondo{
    background: url(../img/nat.gif);
    background-size: cover;
    min-height: 500px;
    background-repeat: no-repeat;
    
}

.gris{

    background: rgba(0, 0, 0, 0.534);
}

.top-nav-collapse{

    background: rgba(0, 0, 0, 0.534) !important;
}



.bg-primary{
	transition: all 1s ease;
}

.acordeon{

    background: url(../img/nat.gif);
    /*!  rgba(5, 141, 23, 0.219); Si se quiere color  */
    background-size: cover;
    min-height: 500px;
    
    background-repeat: no-repeat;
}

.contacto{

    background: rgba(5, 141, 23, 0.219);
    background-size: cover;
    min-height: 50vh;
    min-width: 500px;
    background-repeat: no-repeat;
}

.footer{
    background:  url(../img/nat.gif);
    background-size: cover;
    min-height: 30px;
}